div.page#page1 
    header
        div#headline
            h1#name Kelly Mason
            p#location Denver, Colorado

        section#contact
            nav
                li 
                    b e: 
                    a(href='mailto:mason.kelly.m@gmail.com') mason.kelly.m@gmail.com
                li 
                    b c: 
                    | 919.584.5355
                li
                    img(src=require("./assets/icon-linkedin.png")) 
                    | 
                    a(href='https://www.linkedin.com/in/kellymariemason/') linkedin.com/in/kellymariemason

    section#summary
        h2.section-header Summary
        p Full-stack engineer with experience in a variety of languages and platforms. Currently designing, building, and maintaining API endpoints and new product features for Watson NLU in Node.js. I am most engaged when solving interesting problems and making positive change.

    section#experience 
        h2.section-header Experience
        div.flex-wrapper
            div.my-grid
                div.employer-wrapper
                    p.employer IBM 
                div.date-wrapper
                    p.date Sep '19 - Present
                div.role
                    p.job-title Cloud Engineer, Watson Natural Language Understanding


                    p Watson Natural Language Understanding is a cloud native product that uses deep learning to extract metadata from text such as entities, keywords, categories, sentiment, emotion, relations, and syntax. My role includes:
                    ul
                        li Building out new api endpoints for new NLU features
                        li Migration of existing functionality to new architecture
                        li 
                            b Notable projects: 
                            | design and implementation of a new Node.js microservice, api for training and deploying custom sentiment analysis
                        li 
                            b Day-to-day technologies used: 
                            | Node, Javascript, Typescript, Mocha, Kubernetes
                        li Other technologies used: Python, Elixir

                div.employer-wrapper
                    p.employer Bugsnag 
                div.date-wrapper
                    p.date Jun '18 - Jul '19
                div.role 
                    p.job-title Software Engineer, Website
                    ul
                        li Built new features, api endpoints, and performance enhancements for the user-facing Bugsnag dashboard
                        li Designed and implemented solutions for smooth interfaces between Bugsnag website and various microservices
                        li Added tests, maintained documentation, and updated tooling to the Bugsnag website codebase
                        li 
                            b Notable projects: 
                            | GDPR compliance tool, new stability target feature, updated api versioning
                        li 
                            b Day-to-day technologies used: 
                            | Ruby/Rails, React/JS, Jest, RSpec, gRPC, Docker, Kubernetes
    
                div.date-wrapper
                    p.date Dec '16 - Jun '18 
                div.role
                    p.job-title Developer Support Engineering Team Lead
                    p As the first member of the support team, I equipped engineering teams with the tools needed to optimize their Bugsnag usage.
                    | On a given day, this could include:
                    ul
                        li Establishing support processes to efficiently collaborate across multiple Bugsnag teams
                        li Troubleshooting all possible technical issues Bugsnag users face, from error handling code
                        | configuration to stacktrace deobfuscation errors
                        li Fixing UI bugs and building admin-facing features

    div#community-education-wrapper
        div.my-grid
            section#community
                h2.section-header Community
                div.community-item
                    p.community-title San Francisco Chapter Organizer
                    p.org Write/Speak/Code
                    p.date Nov '17 - July '19
                div.community-item
                    p.community-title 
                        a(href='https://slides.com/kellymason/contained-support/fullscreen') Workshop
                        | : Contained Support with Docker
                    p.org Support Driven Expo
                    p.date Jun '18
                div.community-item
                    p.community-title
                        a(href='https://www.nylas.com/blog/developer-success-engineering-teamwork-makes-the-dream-work/') Panelist
                        | : Developer Success Engineering
                    p.org Nylas Developer Events
                    p.date Feb '18
            section#education
                h2.section-header Education
                div.education-item
                    p.education-title Full Stack Web Development
                    p.org Bloc
                    p.date Dec '15 - May '16
                div.education-item
                    p.education-title Bachelor of Science, Psychology
                    p.org University of North Carolina
                    p.date Aug '06 - May '10



